@using StokTakipProjesi.Models.Entites

@model List<Products>

@{
    Users user = Session["login"] as Users;
    ViewBag.Title = "Ürünler";
    var count = 1;
}
   
    <div class="row">
        <div class="col-md-12 general-div bg-primary">
            <h3 class="text-center"><b>Ürünler</b></h3>
        </div>

        @if (ViewBag.Result != null && ViewBag.Message != null)
        {
            <div class="col-xs-12 general-div bg-@ViewBag.Result">
                <p class="text-@ViewBag.Result">@ViewBag.Message</p>
            </div>
        }

        @if (user.IsAdmin)
        {
            <div class="col-xs-12 general-div">
                <a href="@Url.Action("ProductAdd", "Home")" class="btn btn-primary">Yeni Ürün Ekle</a>
            </div>
        }

        <div class="col-xs-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Ürün Adı</th>
                        <th>Kategorisi</th>
                        <th>Modeli</th>
                        <th>Markası</th>
                        <th>Birim Fiyatı</th>
                        <th>Stok Adedi</th>
                        <th>Stok Kodu</th>
                        @if (user.IsAdmin)
                        {
                            <th>İşlemler</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {
                    <tr>
                        <td>
                            @count
                        </td>
                        <td>@product.Name</td>
                        <td>@product.Categories.CategoryName</td>
                        <td>@product.Model</td>
                        <td>@product.Brand</td>
                        <td>@product.UnitPrice ₺</td>
                        <td>@product.StockAmount</td>
                        <td>@product.StockCode</td>
                        @if (user.IsAdmin)
                        {
                            <td>
                                <a href="@Url.Action("ProductUpdate", "Home", new { id = product.Id })" class="btn btn-xs btn-info" title="Güncelle"><i class="glyphicon glyphicon-refresh"></i></a>&nbsp;
                                <a href="@Url.Action("ProductDelete", "Home", new { id = product.Id })" class="btn btn-xs btn-danger" title="Sil"><i class="glyphicon glyphicon-trash"></i></a>
                            </td>
                        }
                    </tr>
                        count++;
                    }
                </tbody>
            </table>
        </div>
    </div>